<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonTest" parallel="tests">

    <listeners>
        <listener class-name="listeners.Screenshot" />
    </listeners>

    <test name="ChromeTest">
        <parameter name="Browser" value="chrome"/>
        <classes>
            <class name="tests.MainTest" />
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="Browser" value="firefox"/>
        <classes>
            <class name="tests.MainTest" />
        </classes>
    </test>
</suite>